<%- include('partials/header') %>
<div class="container quill-editor">
<form>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form6Example1" class="form-control" />
          <label class="form-label" for="form6Example1">Post Title</label>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <input type="text" id="form6Example2" class="form-control" />
          <label class="form-label" for="form6Example2">Post Subtitle</label>
        </div>
      </div>
    </div>
  
    <div id="editor">
        <p>Hello World!</p>
        <p><br></p>
        <p><br></p>
    </div>
    <p class="spacer"></p>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
  </form>
</div>

<%- include('partials/footer') %>
