<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Register</h1>


      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="firstName">First Name</label>
                    <input type="text" id="firstName" class="form-control form-control" name="fName" />
                </div>
                <div class="col-md-6 mb-4">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input type="text" id="lastName" class="form-control form-control" name="lName" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="username">
                </div>
                <div class="col-md-6 mb-4">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password">
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <label class="form-label" for="dropdown">Area of Interest:</label>
                  <select class="form-select form-select-lg" aria-label="Default select example" name="dropdown">
                    <option value="Research & Development">Research & Development</option>
                    <option value="Data Analytics">Data Analytics</option>
                    <option value="Security">Security</option>
                    <option value="Health">Health</option>
                  </select>
                </div>
              </div>

            </div>
            <div class="center">
              <button type="submit" class="btn btn-dark">Register</button>
            </div>
          </form>

        </div>
      
    

    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/footer') %>