html {
	scroll-behavior: smooth;
}	

#Banner {
	margin-top: 70px;
}

.spacer {
	padding: 30px;
}

a {
	text-decoration: none;
}

#copyright {
	background-color: rgba(0, 0, 0, 0.233);
}

.center {
  text-align: center;
}

/* .footer {
	position: absolute;
	bottom: 0;
	width: 100%;
} */

.error {
	color: red;
	text-align: center;
}

.search-spacer {
	padding-right: 20px;
}

.wsection {
	background-color: white;
	margin-left: auto;
    margin-right: auto;
	padding: 40px 0;
    width: 70%;
}

.bsection {
	background-color: #343a40  ;
	color: white;
	margin-left: auto;
    margin-right: auto;
	padding: 40px 0;
    width: 70%;
}

.left-justified {
	text-align: left;
}

.posts {
	padding: 0 20rem 0 10rem;
	width: 100rem;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: black;
}